* {
    margin: 0;
    padding: 0;
}


.header {
    z-index:999;
    background-color: rgb(187, 185, 185);
    width: 100%;
    height: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    width: 150px;
    height: 38px;
}


.headerBg {
    background-size: cover;
    width: 100%;
    min-height: 90vh;
    background-attachment: fixed;
    background-repeat: repeat-y;
}



.searchInput {
    width: 35%;
    height: 45px;
    border: 2px solid burlywood;
    background-color: antiquewhite;
    border-radius: 19px;
    position: relative;
}

.searchInput_input:focus {
    outline: none;
}

.searchInput_input {
    width: 87%;
    background-color: antiquewhite;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    border: none;
}

.searchInput-btn {
    color: burlywood;
    position: absolute;
    size: 18px;
    right: 13px;
    top: 12px;
}

.userSection {
    padding-top: 0.8rem;
    width: 15rem;
    display: flex;
    justify-content: space-around;
}

.signInBtn, .signUpBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/*  모바일 모드 */

.mobile_header {
    z-index:999;
    background-color: rgb(187, 185, 185);
    width: 100%;
    height: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.mobile_upperPart {
    display: flex;
    justify-content: space-between;
}

.mobile_searchInput {
    width: 70%;
    border: 2px solid burlywood;
    background-color: antiquewhite;
    border-radius: 19px;
    position: relative;
}

.mobile_lowerPart {
    display: flex;
    align-items: center;
    justify-content: center;

}

.mobile_searchInput {
    height: 45px;
    border: 2px solid burlywood;
    background-color: antiquewhite;
    border-radius: 19px;
    position: relative;
}

.mobile_searchInput_input {
    width: 87%;
    background-color: antiquewhite;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    border: none;
}

.mobile_searchInput_input:focus {
    outline: none;
}

.mobile_userSection {
    margin-right: 1rem;
    padding-top: 0.1rem;
    width: 13rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ProfileBar */

.bar_wrapper {
    z-index:999;
    width: 100%;
    background-color: #BBB9B9;
    position:fixed;
    top:5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .bar_wrapper {
        position: inherit;
    }
}

.bar {
    width: 70%;
    display:flex;
    justify-content: space-between;
}


.profile {
    width: 62%;
    display: flex;
    justify-content: end;
}

.userIcon {
    width: 25px;
    height: 25px;
}


.class_review:hover {
    cursor: pointer;
    color:white;
}
